* {
    padding: 0;
    margin: 0%;
   

}

.textoinicio {

    color: rgb(255, 0, 221);
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
  

}

.fundo {
    background-color: rgb(26, 26, 26);
    height: 15vh;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.conteudo{

    background: linear-gradient(to right, rgb(39, 39, 39), rgb(5, 5, 5)); /* Gradiente do azul para o ciano */
    height: 200vh;
   
   padding-top: 5vh;
    text-align: center;
    
}



.textentrarnogrupo{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin: 2%;
    color: rgb(255, 0, 221);
    
}

.textbaixarapp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin: 2%;
    color: rgb(255, 0, 221);
    
}

.autorais{

    margin-top: 4vh;
    color: rgb(255, 0, 221);
}

.imagen{

    height: 10vh;
    width: 10vh;
    margin-top: 10vh;
    border: 2px solid rgb(255, 0, 221);
}

.iframe{

    border: 2px solid rgb(255, 0, 221);
}

