* {
    padding: 0;
    margin: 0%;
   

}

.textoinicio {

    color: rgb(255, 0, 221);
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
  

}

.fundo {
    background-color: rgb(26, 26, 26);
    height: 15vh;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.conteudo{

    background: linear-gradient(to right, rgb(39, 39, 39), rgb(5, 5, 5)); /* Gradiente do azul para o ciano */
    height: 150vh;
   
   padding-top: 5vh;
    text-align: center;
    
}



.textentrarnogrupo{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin: 2%;
    color: rgb(255, 0, 221);
    
}

.textbaixarapp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin: 2%;
    color: rgb(255, 0, 221);
    
}

.autorais{

    margin-top: 4vh;
    color: rgb(255, 0, 221);
}

.imagen{

    height: 10vh;
    width: 10vh;
    margin-top: 10vh;
    border: 2px solid rgb(255, 0, 221);
}

.iframe{

    border: 2px solid rgb(255, 0, 221);
}

.red-button {
    background-color: #ff008c;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.red-button:hover {
    background-color: #8600af;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.red-button:active {
    background-color: #ff009d;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  color: black;
}
.video-container {
    display: flex;
    gap: 20px; /* Espaço entre os vídeos */
    flex-wrap: wrap; /* Permite os vídeos quebrarem linha se a tela for menor */
    justify-content: center;
}

.video-wrapper {
    text-align: center; /* Centraliza o título e o vídeo */
    background: linear-gradient(to top, rgb(138, 0, 180), rgb(255, 0, 212));
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video-wrapper:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
@media screen and (max-width: 768px) {
    
    .conteudo{

      
        height: 200vh;
       
       
        
    }
}
